/* ----------------------------------------------------------------------------- *\
   Media widths
\* ----------------------------------------------------------------------------- */

$screen-xs: 345px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1024px;